<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Test Suite" verbose="1">
	<listeners>
		<listener class-name="romero.com.ExtendReportExample.base.TestListener" />
	</listeners>
	<parameter name="browserType" value="firefox" />
	<parameter name="appURL" value="https://google.com" />

	<test name="Admin Tests">
		<classes>
			<class name="romero.com.ExtendReportExample.BasePageTest" />
			<class name="romero.com.ExtendReportExample.SignInPageTest" />
			<class name="romero.com.ExtendReportExample.CreateAccountTest" />
		</classes>
	</test>
</suite>